alabaster==0.7.10
alembic==0.9.5
astroid==1.5.3
autoenv==1.0.0
autopep8==1.3.2
astroid==1.5.3
Babel==2.5.1
backports.functools-lru-cache==1.4
bleach==2.1.1
captcha==0.2.4
capture==0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
configparser==3.5.0
coverage==4.4.1
cryptography==1.7.2
Django==1.9.13
django-appconf==1.0.2
django-bootstrap-breadcrumbs==0.8.2
django-bower==5.2.0
django-compressor==2.2
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-filter==1.0.4
django-formtools==1.0
django-mobile==0.7.0
django-recaptcha==1.3.1
django-sortedm2m==1.5.0
django-tastypie==0.14.0
djangorestframework==3.2.5
docutils==0.14
easy-thumbnails==2.4.2
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Login==0.4.0
Flask-Migrate==2.1.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
heroku==0.1.4
html5lib==1.0b10
icalendar==3.11.7
idna==2.6
imagesize==0.7.1
invoke==0.21.0
ipaddress==1.0.18
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.6
jwt==0.5.2
lazy-object-proxy==1.3.1
Mako==1.0.7
isort==4.2.15
Jinja2==2.9.6
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
olefile==0.44
pbr==3.1.1
pep8==1.7.0
Pillow==4.3.0
psycopg2==2.7.3
py==1.4.34
pyasn1==0.3.2
pycodestyle==2.3.1
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.2
pylint==1.7.4
pytest==3.2.2
python-dateutil==2.6.1
python-editor==1.0.3
python-mimeparse==1.6.0
pytz==2017.2
rcssmin==1.0.6
reportlab==3.4.0
requests==2.18.4
rjsmin==1.0.12
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.13
sqlparse==0.2.4
stevedore==1.25.0
typing==3.5.3.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==3.3.1
wrapt==1.10.11
